#hero-section header {
  width: 100%;
  position: absolute;
  z-index: 2; }
  #hero-section header nav {
    width: 100%;
    background-color: transparent; }
    #hero-section header nav .logo {
      margin-top: 15px; }
    #hero-section header nav ul {
      margin-left: 330px;
      margin-top: 25px; }
      #hero-section header nav ul li a {
        float: left;
        font-size: 17px;
        font-weight: 600;
        list-style: none;
        margin-right: 10px;
        color: white; }
  #hero-section header .social-media {
    display: flex;
    justify-content: flex-end;
    color: white; }
    #hero-section header .social-media #search-button {
      margin-right: 30px; }
    #hero-section header .social-media-button {
      float: left;
      margin-right: 13px;
      margin-top: 28px; }
    #hero-section header .social-media button {
      background: transparent;
      text-transform: uppercase;
      color: white;
      margin-left: 35px;
      margin-top: 20px;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      border: solid 1px;
      height: 40px;
      width: 160px;
      font-size: 13px; }
      #hero-section header .social-media button .fa-paper-plane-o {
        margin-left: 5px; }

#hero-section .title-and-buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column; }
  #hero-section .title-and-buttons .buttons {
    margin: 0 auto;
    margin-top: 20px; }
  #hero-section .title-and-buttons .first-title {
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif; }
  #hero-section .title-and-buttons .second-title {
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif; }
  #hero-section .title-and-buttons .third-title {
    font-size: 15px;
    color: white;
    font-family: "Lora", serif; }
  #hero-section .title-and-buttons .about-us-button {
    background: #71B347;
    text-transform: capitalize;
    border-color: transparent !important;
    margin-right: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px; }
  #hero-section .title-and-buttons .presentation-button {
    background: #1996CE;
    border-color: transparent !important;
    text-transform: capitalize;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px; }

#hero-section .title-and-buttons-2 {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column; }
  #hero-section .title-and-buttons-2 .buttons {
    margin: 0 auto;
    margin-top: 20px; }
  #hero-section .title-and-buttons-2 .first-title {
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif; }
  #hero-section .title-and-buttons-2 .second-title {
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif; }
  #hero-section .title-and-buttons-2 .third-title {
    font-size: 15px;
    color: white;
    font-family: "Lora", serif; }
  #hero-section .title-and-buttons-2 .mission-button {
    background: #1996CE;
    text-transform: capitalize;
    border-color: transparent !important;
    margin-right: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px; }
  #hero-section .title-and-buttons-2 .award-button {
    background: #71B347;
    border-color: transparent !important;
    text-transform: capitalize;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px; }

#hero-section .title-and-buttons-3 {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column; }
  #hero-section .title-and-buttons-3 .buttons {
    margin: 0 auto;
    margin-top: 20px; }
  #hero-section .title-and-buttons-3 .first-title {
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif; }
  #hero-section .title-and-buttons-3 .second-title {
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif; }
  #hero-section .title-and-buttons-3 .third-title {
    font-size: 15px;
    color: white;
    font-family: "Lora", serif; }
  #hero-section .title-and-buttons-3 .services-button {
    background: #71B347;
    text-transform: capitalize;
    border-color: transparent !important;
    margin-right: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px; }
  #hero-section .title-and-buttons-3 .contact-button {
    background: #1996CE;
    border-color: transparent !important;
    text-transform: capitalize;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px; }

@media (min-width: 576px) and (max-width: 767px) {
  #hero-section header nav .collapse {
    background: rgba(100, 100, 100, 0.75);
    position: relative;
    z-index: 99999999999999999999; }
  #hero-section header nav .navbar-toggler {
    background: whitesmoke; }
  #hero-section .carousel ol {
    z-index: 1; }
  #hero-section .carousel .carousel-inner .carousel-item .first-title {
    z-index: 1; }
  #hero-section .carousel .carousel-inner .carousel-item .second-title {
    z-index: 1; }
  #hero-section .carousel .carousel-inner .carousel-item .third-title {
    z-index: 1; }
  #hero-section .carousel .carousel-inner .carousel-item .buttons {
    z-index: 1; } }

@media (min-width: 768px) and (max-width: 991px) {
  #hero-section header nav .collapse {
    background: #646464;
    position: relative;
    z-index: 999; }
  #hero-section header nav .navbar-toggler {
    background: whitesmoke; }
  #hero-section .carousel ol {
    z-index: 1; } }

@media (min-width: 992px) and (max-width: 1199px) {
  #hero-section header nav ul {
    margin-left: 60px; }
    #hero-section header nav ul li a {
      font-size: 14px; }
  #hero-section header nav .social-media-button i {
    font-size: 1em; } }

@media (min-width: 1200px) {
  #hero-section header nav ul {
    margin-left: 250px; } }

#mission-section {
  display: flex;
  flex-wrap: wrap; }
  #mission-section div {
    padding-left: 0;
    padding-right: 0; }
    #mission-section div .text {
      padding: 20px 10px; }
      #mission-section div .text .numbers {
        font-size: 50px;
        font-weight: 600;
        color: rgba(77, 77, 77, 0.15);
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0; }
      #mission-section div .text span {
        font-weight: 600;
        display: block;
        padding-bottom: 10px; }
  #mission-section #firstdiv {
    background: url("../img/new-background.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: "Lora", serif;
    padding-top: 350px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 11px; }
    #mission-section #firstdiv span {
      display: block;
      font-weight: 600;
      font-size: 20px;
      padding-bottom: 20px; }
    #mission-section #firstdiv div {
      display: block; }
    #mission-section #firstdiv button {
      margin-top: 20px;
      font-size: 11px;
      background: transparent;
      text-transform: uppercase;
      color: white;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      border: solid 1px;
      height: 40px;
      width: 160px;
      font-size: 13px;
      height: 35px;
      width: 145px; }

@media (max-width: 575px) {
  #mission-section #firstdiv {
    padding-top: 135px; } }

@media (min-width: 576px) and (max-width: 767px) {
  #mission-section #firstdiv {
    padding-top: 300px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #mission-section #firstdiv {
    padding-top: 150px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  #mission-section #firstdiv {
    padding-top: 230px; } }

@media (min-width: 1200px) {
  #mission-section #firstdiv {
    padding-top: 300px; } }

#about-section #about-text-button {
  text-align: center;
  font-family: "Lora", serif;
  background: #F8F8F8; }
  #about-section #about-text-button .title {
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 30px; }
  #about-section #about-text-button .text {
    font-size: 13px;
    padding-bottom: 30px; }
  #about-section #about-text-button .about-us-button-2 {
    background: #71B347;
    text-transform: capitalize;
    color: white;
    border: #71B347;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px;
    margin-bottom: 120px; }

#about-section #sponsor {
  padding: 50px 0px; }
  #about-section #sponsor img {
    height: 50px; }

@media (min-width: 576px) and (max-width: 767px) {
  #about-section #about-text-button .title {
    font-size: 30px; }
  #about-section #sponsor {
    padding: 30px 0px; }
    #about-section #sponsor img {
      height: 30px; } }

.benefits-section #benefits-title-text {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  padding-top: 200px;
  font-family: "Lora", serif;
  color: white; }
  .benefits-section #benefits-title-text span {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    font-size: 50px;
    margin-bottom: 20px; }

.benefits-section #benefits-background {
  height: 70vh;
  padding-left: 0;
  padding-right: 0; }

.benefits-section .benefits-grey-background {
  background: #F8F8F8; }
  .benefits-section .benefits-grey-background #banner1 {
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 100px; }
    .benefits-section .benefits-grey-background #banner1 .text1 {
      background-color: white;
      text-align: center;
      padding-bottom: 75px;
      padding-left: 40px;
      padding-right: 40px; }
      .benefits-section .benefits-grey-background #banner1 .text1 .fa {
        padding-top: 75px;
        font-size: 50px;
        padding-bottom: 25px; }
      .benefits-section .benefits-grey-background #banner1 .text1 span {
        text-transform: capitalize;
        display: block;
        padding-bottom: 15px;
        font-weight: 600; }
  .benefits-section .benefits-grey-background #banner2 {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 100px; }
    .benefits-section .benefits-grey-background #banner2 .text2 {
      background-color: #1996CE;
      text-align: center;
      color: white;
      padding-bottom: 75px;
      padding-left: 40px;
      padding-right: 40px; }
      .benefits-section .benefits-grey-background #banner2 .text2 .fa {
        padding-top: 75px;
        font-size: 50px;
        padding-bottom: 25px; }
      .benefits-section .benefits-grey-background #banner2 .text2 span {
        text-transform: capitalize;
        display: block;
        padding-bottom: 15px;
        font-weight: 600; }
  .benefits-section .benefits-grey-background #banner3 {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 100px; }
    .benefits-section .benefits-grey-background #banner3 .text3 {
      background-color: #24282B;
      color: white;
      text-align: center;
      padding-bottom: 75px;
      padding-left: 40px;
      padding-right: 40px; }
      .benefits-section .benefits-grey-background #banner3 .text3 .fa {
        padding-top: 75px;
        font-size: 50px;
        padding-bottom: 25px; }
      .benefits-section .benefits-grey-background #banner3 .text3 span {
        text-transform: capitalize;
        display: block;
        padding-bottom: 15px;
        font-weight: 600; }

@media (max-width: 575px) {
  .benefits-section #benefits-title-text {
    padding-top: 45px; }
    .benefits-section #benefits-title-text span {
      font-size: 35px; }
  .benefits-section #benefits-background {
    height: auto; }
  .benefits-section .benefits-grey-background #banner1 {
    padding-top: 0px;
    margin-top: -45px; }
    .benefits-section .benefits-grey-background #banner1 .text1 {
      padding-left: 0;
      padding-right: 0; }
    .benefits-section .benefits-grey-background #banner1 .text2 {
      padding-left: 0;
      padding-right: 0; }
    .benefits-section .benefits-grey-background #banner1 .text3 {
      padding-left: 0;
      padding-right: 0; }
  .benefits-section .benefits-grey-background #banner2 {
    padding-top: 0px;
    margin-top: -45px; }
    .benefits-section .benefits-grey-background #banner2 .text1 {
      padding-left: 0;
      padding-right: 0; }
    .benefits-section .benefits-grey-background #banner2 .text2 {
      padding-left: 0;
      padding-right: 0; }
    .benefits-section .benefits-grey-background #banner2 .text3 {
      padding-left: 0;
      padding-right: 0; }
  .benefits-section .benefits-grey-background #banner3 {
    padding-top: 0px;
    margin-top: -45px; }
    .benefits-section .benefits-grey-background #banner3 .text1 {
      padding-left: 0;
      padding-right: 0; }
    .benefits-section .benefits-grey-background #banner3 .text2 {
      padding-left: 0;
      padding-right: 0; }
    .benefits-section .benefits-grey-background #banner3 .text3 {
      padding-left: 0;
      padding-right: 0; } }

@media (min-width: 576px) and (max-width: 767px) {
  .benefits-section #benefits-title-text {
    padding-top: 50px; }
  .benefits-section #benefits-background {
    height: auto; }
  .benefits-section .benefits-grey-background #banner1 {
    padding-top: 0px;
    margin-top: -100px; }
    .benefits-section .benefits-grey-background #banner1 .text1 {
      padding-left: 0;
      padding-right: 0; }
    .benefits-section .benefits-grey-background #banner1 .text2 {
      padding-left: 0;
      padding-right: 0; }
    .benefits-section .benefits-grey-background #banner1 .text3 {
      padding-left: 0;
      padding-right: 0; }
  .benefits-section .benefits-grey-background #banner2 {
    padding-top: 0px;
    margin-top: -100px; }
    .benefits-section .benefits-grey-background #banner2 .text1 {
      padding-left: 0;
      padding-right: 0; }
    .benefits-section .benefits-grey-background #banner2 .text2 {
      padding-left: 0;
      padding-right: 0; }
    .benefits-section .benefits-grey-background #banner2 .text3 {
      padding-left: 0;
      padding-right: 0; }
  .benefits-section .benefits-grey-background #banner3 {
    padding-top: 0px;
    margin-top: -100px; }
    .benefits-section .benefits-grey-background #banner3 .text1 {
      padding-left: 0;
      padding-right: 0; }
    .benefits-section .benefits-grey-background #banner3 .text2 {
      padding-left: 0;
      padding-right: 0; }
    .benefits-section .benefits-grey-background #banner3 .text3 {
      padding-left: 0;
      padding-right: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .benefits-section #benefits-title-text {
    padding-top: 75px; }
  .benefits-section #benefits-background {
    height: auto; }
  .benefits-section .benefits-grey-background #banner1 {
    padding-top: 0px;
    margin-top: -100px; }
  .benefits-section .benefits-grey-background #banner2 {
    padding-top: 0px;
    margin-top: -100px; }
  .benefits-section .benefits-grey-background #banner3 {
    padding-top: 0px;
    margin-top: -100px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .benefits-section #benefits-title-text {
    padding-top: 125px; }
  .benefits-section #benefits-background {
    height: auto; }
  .benefits-section .benefits-grey-background #banner1 {
    padding-top: 0px;
    margin-top: -100px; }
  .benefits-section .benefits-grey-background #banner2 {
    padding-top: 0px;
    margin-top: -100px; }
  .benefits-section .benefits-grey-background #banner3 {
    padding-top: 0px;
    margin-top: -100px; } }

#colaborate-section #colaborate-background {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  padding-top: 250px;
  padding-left: 100px; }

#colaborate-section #colaborate {
  padding-left: 0;
  padding-right: 0;
  padding: 60px; }
  #colaborate-section #colaborate span {
    font-family: 'Lato', sans-serif;
    display: block;
    text-align: center;
    text-transform: capitalize;
    font-size: 35px;
    padding-top: 125px;
    padding-bottom: 25px; }
  #colaborate-section #colaborate .description {
    font-family: "Lora", serif;
    text-align: center;
    padding-left: 10px;
    font-size: 13px;
    padding-right: 10px;
    margin-bottom: 150px; }
  #colaborate-section #colaborate .statistics #profit .progressbar-text {
    color: black !important; }
  #colaborate-section #colaborate .statistics #profit > svg {
    height: 100%;
    display: block; }
  #colaborate-section #colaborate .statistics #contracts .progressbar-text {
    color: black !important; }
  #colaborate-section #colaborate .statistics #contracts > svg {
    height: 100%;
    display: block; }
  #colaborate-section #colaborate .statistics #management .progressbar-text {
    color: black !important; }
  #colaborate-section #colaborate .statistics #management > svg {
    height: 100%;
    display: block; }
  #colaborate-section #colaborate .statistics .text {
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    padding-top: 15px; }
  #colaborate-section #colaborate .more-about-us-button {
    background: #1996CE;
    border: #1996CE;
    text-transform: capitalize;
    margin: 70px 258px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px; }

@media (max-width: 575px) {
  #colaborate-section #colaborate .more-about-us-button {
    margin: 55px 68px; }
  #colaborate-section #colaborate .description {
    margin-bottom: 60px; }
  #colaborate-section #colaborate span {
    padding-top: 0px; }
  #colaborate-section #colaborate-background {
    padding-left: 0px;
    padding-top: 55px; } }

@media (min-width: 576px) and (max-width: 767px) {
  #colaborate-section #colaborate span {
    padding-top: 40px; }
  #colaborate-section #colaborate .more-about-us-button {
    margin: 55px 233px; }
  #colaborate-section #colaborate .description {
    margin-bottom: 60px; }
  #colaborate-section #colaborate .row {
    padding-left: 85px;
    padding-right: 85px; }
  #colaborate-section #colaborate-background {
    padding-top: 100px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #colaborate-section #colaborate-background {
    padding-left: 0px;
    padding-top: 115px;
    height: auto; }
  #colaborate-section #colaborate {
    padding-right: 15px;
    padding-left: 15px; }
    #colaborate-section #colaborate span {
      padding-top: 50px; }
    #colaborate-section #colaborate .description {
      margin-bottom: 70px; }
    #colaborate-section #colaborate .more-about-us-button {
      margin: 30px 110px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  #colaborate-section #colaborate-background {
    padding-left: 0px;
    padding-top: 163px; }
  #colaborate-section #colaborate {
    padding-right: 10px;
    padding-left: 10px; }
    #colaborate-section #colaborate span {
      padding-top: 150px; }
    #colaborate-section #colaborate .description {
      margin-bottom: 70px; }
    #colaborate-section #colaborate .more-about-us-button {
      margin: 70px 170px; } }

@media (min-width: 1200px) and (max-width: 1366px) {
  #colaborate-section #colaborate-background {
    padding-left: 100px;
    padding-top: 222px; }
  #colaborate-section #colaborate span {
    padding-top: 175px; }
  #colaborate-section #colaborate .description {
    margin-bottom: 100px; }
  #colaborate-section #colaborate .more-about-us-button {
    margin: 70px 205px; } }

#footer-section {
  background: #202427;
  color: white; }
  #footer-section .left-side {
    font-family: "Lora", serif;
    font-size: 13px;
    font-weight: 400; }
    #footer-section .left-side .description {
      padding-top: 20px;
      padding-bottom: 30px; }
    #footer-section .left-side .address {
      padding-bottom: 10px; }
    #footer-section .left-side .phone {
      padding-bottom: 10px; }
    #footer-section .left-side .email {
      padding-bottom: 100px; }
  #footer-section .news .title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 20px; }
  #footer-section .news .news-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding-bottom: 20px; }
  #footer-section .news .subtitle {
    font-family: "Lora", serif;
    font-size: 13px;
    padding-bottom: 20px; }
  #footer-section .subscription .subscribe-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 20px; }
  #footer-section .subscription form {
    display: flex; }
    #footer-section .subscription form input {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: 0;
      height: 40px;
      padding-left: 15px; }
    #footer-section .subscription form input:focus {
      background-color: grey;
      color: white; }
    #footer-section .subscription form button {
      background: #71B347;
      border-color: transparent !important;
      text-transform: uppercase;
      color: white;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      border: solid 1px;
      height: 40px;
      width: 160px;
      font-size: 13px; }
  #footer-section .subscription .update {
    padding-top: 15px;
    font-family: "Lora", serif;
    font-size: 13px; }
  #footer-section .external {
    background: #1D2124;
    color: white; }
    #footer-section .external .copyright-title {
      font-family: "Lora", serif;
      font-size: 13px;
      padding-top: 15px;
      padding-bottom: 15px; }
    #footer-section .external .external-social-media-button {
      padding-top: 15px;
      display: flex;
      justify-content: flex-end;
      margin-right: 15px;
      float: left; }

#news-section .news-title {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  text-transform: capitalize;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 50px; }

#news-section .subtitle {
  font-family: "Lora", serif;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 15px; }

#news-section .title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding-bottom: 10px; }

#news-section .smecherie {
  padding-right: 30px; }

#news-section .date {
  font-family: "Lora", serif;
  font-size: 11px;
  padding-bottom: 100px; }

#ranking-section {
  background: #F8F8F8; }
  #ranking-section .title-subtitle {
    font-family: "Lora", serif;
    text-align: center;
    font-size: 11px;
    padding-bottom: 45px; }
    #ranking-section .title-subtitle span {
      font-family: 'Lato', sans-serif;
      display: block;
      text-transform: capitalize;
      padding-top: 100px;
      font-size: 35px;
      padding-bottom: 15px;
      font-weight: 400; }
  #ranking-section span {
    font-weight: 700;
    font-size: 35px;
    text-align: center; }
  #ranking-section .title {
    font-size: 11px;
    padding-bottom: 100px;
    text-align: center; }

#request-section {
  background-color: #2498C4; }
  #request-section .title-subtitle {
    padding-bottom: 40px;
    color: white;
    font-family: "Lora", serif;
    font-size: 13px; }
    #request-section .title-subtitle .title {
      padding-top: 40px;
      font-size: 30px;
      padding-bottom: 5px; }
  #request-section button {
    background: transparent;
    text-transform: uppercase;
    color: white;
    margin-top: 55px;
    border-radius: 7px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px; }

#reviews-section {
  background: #F8F8F8;
  padding-bottom: 20px; }
  #reviews-section .title-subtitle {
    padding-top: 150px;
    text-align: center;
    padding-bottom: 10px;
    background: #F8F8F8;
    font-family: "Lora", serif; }
    #reviews-section .title-subtitle span {
      font-family: 'Lato', sans-serif;
      font-size: 40px;
      display: block;
      text-align: center;
      padding-bottom: 20px; }
  #reviews-section .photos:hover {
    opacity: 1;
    filter: blur(0px); }
    #reviews-section .photos:hover .text {
      background: white;
      box-shadow: 0px 8px 6px -6px black;
      border-radius: 10px; }
  #reviews-section .photos {
    padding-top: 100px;
    background: #F8F8F8;
    opacity: 0.5;
    filter: blur(3px); }
    #reviews-section .photos .text {
      text-align: center;
      font-family: "Lora", serif;
      padding: 20px 30px; }
    #reviews-section .photos .name-function {
      text-align: center;
      font-size: 13px;
      font-family: "Lora", serif;
      margin-left: 50px; }
      #reviews-section .photos .name-function span {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 15px;
        font-weight: 600; }
    #reviews-section .photos .image {
      padding-left: 80px;
      padding-right: 80px;
      padding-top: 80px; }

#services-section #services-background {
  padding-left: 0;
  padding-right: 0; }

#services-section #services-text-button {
  padding-left: 0;
  padding-right: 0;
  background: #24282B;
  color: white; }
  #services-section #services-text-button .title {
    font-family: "Lora", serif;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 50px; }
    #services-section #services-text-button .title span {
      font-family: 'Lato', sans-serif;
      display: block;
      text-align: center;
      font-size: 35px;
      padding-top: 150px;
      padding-bottom: 20px; }
  #services-section #services-text-button .subtitle {
    padding-left: 50px;
    padding-right: 10px;
    padding-bottom: 35px;
    display: flex; }
    #services-section #services-text-button .subtitle .icons {
      font-size: 40px;
      margin-right: 30px; }
    #services-section #services-text-button .subtitle span {
      font-weight: 600;
      display: block;
      padding-bottom: 10px; }
  #services-section #services-text-button .services-button {
    background: #71B347;
    border: #71B347 !important;
    text-transform: capitalize;
    color: white;
    margin-left: 120px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px; }

@media (max-width: 575px) {
  #services-section #services-text-button .title {
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px; }
    #services-section #services-text-button .title span {
      padding-top: 25px; }
  #services-section #services-text-button .subtitle {
    padding-left: 15px;
    padding-bottom: 15px; }
  #services-section #services-text-button .services-button {
    margin-bottom: 15px; } }

@media (min-width: 576px) and (max-width: 767px) {
  #services-section #services-text-button .title {
    padding-bottom: 25px;
    padding-right: 10px; }
    #services-section #services-text-button .title span {
      padding-top: 25px;
      padding-bottom: 10px; }
  #services-section #services-text-button .subtitle {
    padding-bottom: 5px; }
    #services-section #services-text-button .subtitle span {
      padding-bottom: 5px; }
  #services-section #services-text-button .services-button {
    margin-bottom: 25px;
    margin-top: 15px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #services-section #services-text-button .title {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px; }
    #services-section #services-text-button .title span {
      padding-top: 0px;
      padding-bottom: 5px;
      font-size: 28px; }
  #services-section #services-text-button .subtitle {
    padding-left: 10px;
    padding-bottom: 10px; }
    #services-section #services-text-button .subtitle .icons {
      margin-right: 10px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  #services-section #services-text-button .title {
    padding-bottom: 0px; }
    #services-section #services-text-button .title span {
      padding-top: 10px;
      padding-bottom: 0px; }
  #services-section #services-text-button .subtitle {
    padding-bottom: 10px; } }

@media (min-width: 1200px) {
  #services-section #services-text-button .title span {
    padding-top: 120px; } }

#staff-section .title {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }

#staff-section .staff-members {
  text-align: center; }
  #staff-section .staff-members .description {
    font-size: 13px;
    font-family: "Lora", serif;
    text-align: center;
    padding-bottom: 100px; }
    #staff-section .staff-members .description span {
      display: block;
      font-weight: 600;
      font-size: 15px;
      padding-bottom: 5px; }

body {
  margin: 0;
  padding: 0; }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform; }

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1); }

/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }
