body {
  margin: 0;
  padding: 0; }

#hero-section header {
  position: absolute;
  z-index: 2; }
  #hero-section header nav ul li {
    float: left;
    list-style: none;
    margin-right: 10px;
    color: white; }
  #hero-section header .social-media {
    display: flex;
    justify-content: flex-end;
    color: white; }
    #hero-section header .social-media #search-button {
      margin-right: 30px; }
    #hero-section header .social-media-button {
      float: left;
      margin-right: 13px;
      margin-top: 28px; }
    #hero-section header .social-media button {
      background: transparent;
      text-transform: uppercase;
      border: white !important;
      color: white;
      margin-left: 35px;
      margin-top: 20px;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      border: solid 1px;
      height: 40px;
      width: 160px;
      font-size: 13px; }
      #hero-section header .social-media button .fa-paper-plane-o {
        margin-left: 5px; }

#hero-section .title-and-buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column; }
  #hero-section .title-and-buttons .buttons {
    margin: 0 auto;
    margin-top: 20px; }
  #hero-section .title-and-buttons .first-title {
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif; }
  #hero-section .title-and-buttons .second-title {
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif; }
  #hero-section .title-and-buttons .third-title {
    font-size: 15px;
    color: white;
    font-family: "Lora", serif; }
  #hero-section .title-and-buttons .about-us-button {
    background: #71B347;
    text-transform: capitalize;
    border-color: transparent !important;
    margin-right: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px; }
  #hero-section .title-and-buttons .presentation-button {
    background: #1996CE;
    border-color: transparent !important;
    text-transform: capitalize;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px; }

#hero-section .title-and-buttons-2 {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column; }
  #hero-section .title-and-buttons-2 .buttons {
    margin: 0 auto;
    margin-top: 20px; }
  #hero-section .title-and-buttons-2 .first-title {
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif; }
  #hero-section .title-and-buttons-2 .second-title {
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif; }
  #hero-section .title-and-buttons-2 .third-title {
    font-size: 15px;
    color: white;
    font-family: "Lora", serif; }
  #hero-section .title-and-buttons-2 .mission-button {
    background: #1996CE;
    text-transform: capitalize;
    border-color: transparent !important;
    margin-right: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px; }
  #hero-section .title-and-buttons-2 .award-button {
    background: #71B347;
    border-color: transparent !important;
    text-transform: capitalize;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px; }

#hero-section .title-and-buttons-3 {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column; }
  #hero-section .title-and-buttons-3 .buttons {
    margin: 0 auto;
    margin-top: 20px; }
  #hero-section .title-and-buttons-3 .first-title {
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif; }
  #hero-section .title-and-buttons-3 .second-title {
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif; }
  #hero-section .title-and-buttons-3 .third-title {
    font-size: 15px;
    color: white;
    font-family: "Lora", serif; }
  #hero-section .title-and-buttons-3 .services-button {
    background: #71B347;
    text-transform: capitalize;
    border-color: transparent !important;
    margin-right: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px; }
  #hero-section .title-and-buttons-3 .contact-button {
    background: #1996CE;
    border-color: transparent !important;
    text-transform: capitalize;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px; }

#mission-section {
  display: flex;
  flex-wrap: wrap; }
  #mission-section div {
    padding-left: 0;
    padding-right: 0; }
    #mission-section div .text {
      padding: 20px 10px; }
      #mission-section div .text .numbers {
        font-size: 50px;
        font-weight: 600;
        color: rgba(77, 77, 77, 0.15);
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0; }
      #mission-section div .text span {
        font-weight: 600;
        display: block;
        padding-bottom: 10px; }
  #mission-section #firstdiv {
    background: url("../img/our-main-mission.jpg");
    height: 100%; }
    #mission-section #firstdiv button {
      background: transparent;
      text-transform: uppercase;
      border: white;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      border: solid 1px;
      height: 40px;
      width: 160px;
      font-size: 13px; }

#about-section #about-text-button {
  text-align: center;
  font-family: "Lora", serif;
  background: #F8F8F8; }
  #about-section #about-text-button .title {
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 350px;
    padding-right: 350px; }
  #about-section #about-text-button .text {
    font-size: 13px;
    padding-bottom: 30px;
    padding-left: 400px;
    padding-right: 400px; }
  #about-section #about-text-button .about-us-button-2 {
    background: #71B347;
    text-transform: capitalize;
    color: white;
    border: #71B347;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px;
    margin-bottom: 120px; }

#about-section #sponsor {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right: 100px; }
  #about-section #sponsor .img-fluid {
    margin-right: 100px; }

.benefits-section #benefits-title-text {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  padding-top: 200px;
  font-family: "Lora", serif;
  color: red; }
  .benefits-section #benefits-title-text span {
    font-family: 'Caveat', cursive;
    font-size: 50px;
    margin-bottom: 20px; }

.benefits-section #benefits-background {
  height: 70vh; }

.benefits-section .text1 {
  background-color: white;
  padding: 50px 50px; }
  .benefits-section .text1 span {
    text-transform: uppercase;
    display: block;
    padding-bottom: 15px; }

.benefits-section .text2 {
  background-color: #1996CE;
  padding: 50px 50px;
  color: white; }
  .benefits-section .text2 span {
    text-transform: capitalize;
    display: block;
    padding-bottom: 15px; }

.benefits-section .text3 {
  background-color: #24282B;
  color: white;
  padding: 50px 50px; }
  .benefits-section .text3 span {
    text-transform: capitalize;
    display: block;
    padding-bottom: 15px; }

#colaborate-section #colaborate-background {
  height: 100vh;
  padding-left: 0;
  padding-right: 0; }

#colaborate-section #colaborate {
  padding-left: 0;
  padding-right: 0; }
  #colaborate-section #colaborate .more-about-us-button {
    background: #1996CE;
    border: #1996CE;
    text-transform: capitalize;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px; }

#services-section #services-background {
  padding-left: 0;
  padding-right: 0;
  height: 100vh; }

#services-section #services-text-button {
  padding-left: 0;
  padding-right: 0; }
  #services-section #services-text-button .services-button {
    background: #71B347;
    border: #71B347;
    text-transform: capitalize;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border: solid 1px;
    height: 40px;
    width: 160px;
    font-size: 13px; }

#request-section button {
  background: transparent;
  border: white;
  text-transform: uppercase;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: solid 1px;
  height: 40px;
  width: 160px;
  font-size: 13px; }

#footer-section button {
  background: #71B347;
  border: #71B347;
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: solid 1px;
  height: 40px;
  width: 160px;
  font-size: 13px; }

#footer-section .external-social-media-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  float: left; }
