#about-section{

    #about-text-button{
        text-align: center;
        font-family: $secondary-font;
        background: #F8F8F8;

        .title{
            font-size: 30px;
            padding-top: 80px;
            padding-bottom: 30px;
        }
        .text{
            font-size: 13px;
            padding-bottom: 30px;
        }
        .about-us-button-2{
            background : $green;
            text-transform : capitalize;
            color : white;
            border : $green;
            @include button;
            margin-bottom: 120px;
        }
    }
    #sponsor{
        padding: 50px 0px;

        img{
            height: 50px;
        }
    }
}

// Extra small devices
@media (max-width: 575px)  { 

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { 
    #about-section{
        #about-text-button{
            .title{
                font-size: 30px;
            }
        }
        #sponsor{
            padding: 30px 0px;
    
            img{
                height: 30px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
   
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { 
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    
}