#contact-section{
    background-color: #F7F7F7;

    .title{
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 40px;
        padding-top: 50px;
    }
    .address{
        font-family: $secondary-font;
        text-align: center;
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 60px;
    }
    .description{
        font-family: $secondary-font;
        text-align: center;
        font-size: 15px;
        padding-bottom: 30px;
    }
    .phone{
        text-align: center;
        .icon{
            font-size: 60px;
            display: block;
        }
    }
    .map-marker{
        text-align: center;
        .icon{
            font-size: 60px;
            display: block;
        }
    }
    .message{
        text-align: center;
        .icon{
            font-size: 40px;
            display: block;
        }
    }
    button{
        background-color: #A4A8AC;
        border: #A4A8AC !important;
        border-radius: 7px;
        @include button;
    }
}

#map-section{
    @include no-padding;
}