#hero-section {

    header{
        width: 100%;
        position : absolute;
        z-index : 2;

        nav{
            width: 100%;
            background-color: transparent;

            .logo{
                margin-top: 15px;
            }
            ul{
                margin-left: 330px;
                margin-top: 25px;
                li{
                    a{
                        float : left;
                        font-size: 17px;
                        font-weight: 600;
                        list-style : none;
                        margin-right: 10px;
                        color : white;
                    }
                }
            }
        }
        .social-media{
            display: flex;
            justify-content: flex-end;
            color : white;

            #search-button{
                margin-right: 30px;
            }
            &-button{
                float : left;
                margin-right : 13px;
                margin-top: 28px;
            }
            button{
                background : transparent;
                text-transform : uppercase;
                color : white;
                margin-left: 35px;
                margin-top: 20px;
                @include button;

                .fa-paper-plane-o{
                    margin-left : 5px;
                }
            }
        }
    }
    .title-and-buttons{
        display : flex;  
        text-align: center;
        justify-content : center;
        flex-direction : column;

        .buttons{
            margin : 0 auto;
            margin-top : 20px;
        }
        .first-title{
            font-size : 13px;
            color : white;
            text-transform : uppercase;
            font-family : $primary-font;
        }
        .second-title{
            font-size : 60px;
            color : white;
            text-transform : uppercase;
            font-weight : 600;
            font-family : $primary-font;
        }
        .third-title{
            font-size : 15px;
            color : white;
            font-family : $secondary-font;
        }
        .about-us-button{
            background : $green;
            text-transform : capitalize;
            border-color : transparent !important;
            margin-right : 10px;
            @include button;
        }
        .presentation-button{
            background : $blue;
            border-color : transparent !important;
            text-transform : capitalize;
            color : black;
            @include button;
        }
    }
    .title-and-buttons-2{
        display : flex;  
        text-align: center;
        justify-content : center;
        flex-direction : column;

        .buttons{
            margin : 0 auto;
            margin-top : 20px;
        }
        .first-title{
            font-size : 13px;
            color : white;
            text-transform : uppercase;
            font-family : $primary-font;
        }
        .second-title{
            font-size : 60px;
            color : white;
            text-transform : uppercase;
            font-weight : 600;
            font-family : $primary-font;
        }
        .third-title{
            font-size : 15px;
            color : white;
            font-family : $secondary-font;
        }
        .mission-button{
            background : $blue;
            text-transform : capitalize;
            border-color : transparent !important;
            margin-right : 10px;
            @include button;
        }
        .award-button{
            background : $green;
            border-color : transparent !important;
            text-transform : capitalize;
            color : black;
            @include button;
        }
    }
    .title-and-buttons-3{
        display : flex;  
        text-align: center;
        justify-content : center;
        flex-direction : column;

        .buttons{
            margin : 0 auto;
            margin-top : 20px;
        }
        .first-title{
            font-size : 13px;
            color : white;
            text-transform : uppercase;
            font-family : $primary-font;
        }
        .second-title{
            font-size : 60px;
            color : white;
            text-transform : uppercase;
            font-weight : 600;
            font-family : $primary-font;
        }
        .third-title{
            font-size : 15px;
            color : white;
            font-family : $secondary-font;
        }
        .services-button{
            background : $green;
            text-transform : capitalize;
            border-color : transparent !important;
            margin-right : 10px;
            @include button;
        }
        .contact-button{
            background : $blue;
            border-color : transparent !important;
            text-transform : capitalize;
            color : black;
            @include button;
        }
    }
}

// Extra small devices
@media (max-width: 575px)  {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { 
    #hero-section{ 
        header{
            nav{
                ul {
                    margin-left: 60px;
                    li{
                        a{
                            font-size: 14px;
                        }
                    }
                }
                .social-media{
                    &-button{
                        i{
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    #hero-section{ 
        header{
            nav{
                ul {
                    margin-left: 250px;
                }
            }
        }
    }
}