#request-section{
    background-color: #2498C4;
    .title-subtitle{
        .title{
            padding-top: 40px;
            font-size: 30px;
            padding-bottom: 5px;
        }
        padding-bottom: 40px;
        color: white;
        font-family: $secondary-font;
        font-size: 13px;
    }
    button{
        background : transparent;
        text-transform : uppercase;
        color : white;
        margin-top: 55px;
        border-radius: 7px;
        @include button;
    }
}


// Extra small devices
@media (max-width: 575px)  { 

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { 
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
   
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { 
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    
}