$blue : #1996CE;
$green : #71B347;
$primary-font : 'Montserrat', sans-serif;
$secondary-font : 'Lora', serif;;
@mixin button{
    font-family : $primary-font;
    font-weight : 600;
    border : solid 1px;
    height : 40px;
    width : 160px;
    font-size : 13px;
}
@mixin no-padding{
    padding-left : 0;
    padding-right : 0;
}



body {
    margin : 0;
    padding : 0;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
 
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
/* Pulse */
@-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  #hero-section {

    header{
        width: 100%;
        position : absolute;
        z-index : 2;

        nav{
            width: 100%;
            background-color: transparent;

            .logo{
                margin-top: 15px;
            }
            ul{
                margin-left: 330px;
                margin-top: 25px;
                li{
                    a{
                        float : left;
                        font-size: 17px;
                        font-weight: 600;
                        list-style : none;
                        margin-right: 10px;
                        color : white;
                    }
                }
            }
        }
        .social-media{
            display: flex;
            justify-content: flex-end;
            color : white;

            #search-button{
                margin-right: 30px;
            }
            &-button{
                float : left;
                margin-right : 13px;
                margin-top: 28px;
            }
            button{
                background : transparent;
                text-transform : uppercase;
                color : white;
                margin-left: 35px;
                margin-top: 20px;
                @include button;

                .fa-paper-plane-o{
                    margin-left : 5px;
                }
            }
        }
    }
    .title-and-buttons{
        display : flex;  
        text-align: center;
        justify-content : center;
        flex-direction : column;

        .buttons{
            margin : 0 auto;
            margin-top : 20px;
        }
        .first-title{
            font-size : 13px;
            color : white;
            text-transform : uppercase;
            font-family : $primary-font;
        }
        .second-title{
            font-size : 60px;
            color : white;
            text-transform : uppercase;
            font-weight : 600;
            font-family : $primary-font;
        }
        .third-title{
            font-size : 15px;
            color : white;
            font-family : $secondary-font;
        }
        .about-us-button{
            background : $green;
            text-transform : capitalize;
            border-color : transparent !important;
            margin-right : 10px;
            @include button;
        }
        .presentation-button{
            background : $blue;
            border-color : transparent !important;
            text-transform : capitalize;
            color : black;
            @include button;
        }
    }
    .title-and-buttons-2{
        display : flex;  
        text-align: center;
        justify-content : center;
        flex-direction : column;

        .buttons{
            margin : 0 auto;
            margin-top : 20px;
        }
        .first-title{
            font-size : 13px;
            color : white;
            text-transform : uppercase;
            font-family : $primary-font;
        }
        .second-title{
            font-size : 60px;
            color : white;
            text-transform : uppercase;
            font-weight : 600;
            font-family : $primary-font;
        }
        .third-title{
            font-size : 15px;
            color : white;
            font-family : $secondary-font;
        }
        .mission-button{
            background : $blue;
            text-transform : capitalize;
            border-color : transparent !important;
            margin-right : 10px;
            @include button;
        }
        .award-button{
            background : $green;
            border-color : transparent !important;
            text-transform : capitalize;
            color : black;
            @include button;
        }
    }
    .title-and-buttons-3{
        display : flex;  
        text-align: center;
        justify-content : center;
        flex-direction : column;

        .buttons{
            margin : 0 auto;
            margin-top : 20px;
        }
        .first-title{
            font-size : 13px;
            color : white;
            text-transform : uppercase;
            font-family : $primary-font;
        }
        .second-title{
            font-size : 60px;
            color : white;
            text-transform : uppercase;
            font-weight : 600;
            font-family : $primary-font;
        }
        .third-title{
            font-size : 15px;
            color : white;
            font-family : $secondary-font;
        }
        .services-button{
            background : $green;
            text-transform : capitalize;
            border-color : transparent !important;
            margin-right : 10px;
            @include button;
        }
        .contact-button{
            background : $blue;
            border-color : transparent !important;
            text-transform : capitalize;
            color : black;
            @include button;
        }
    }
}

#mission-section{
    display : flex;
    flex-wrap : wrap;

    div{
        @include no-padding;

        .text{
            padding : 20px 10px;

            .numbers{
                font-size : 50px;
                font-weight : 600;
                color : rgba(77,77,77,0.15);
                position : absolute;
                z-index : -1;
                left : 0;
                bottom : 0;
            }
            span{
                font-weight : 600;
                display: block;
                padding-bottom: 10px;
            }
        }
    }
    #firstdiv {
        background: url("../img/new-background.jpg");
        background-position: center;
        background-size: cover;
        color: white;
        text-align: center;
        font-family: $secondary-font;
        padding-top: 350px;
        padding-left: 10px;
        padding-right: 5px;
        font-size: 11px;
        span{
            display: block;
            font-weight: 600;
            font-size: 20px;
            padding-bottom: 20px;
        }
        button{
            margin-top: 20px;
            font-size: 11px;
            background : transparent;
            text-transform : uppercase;
            color: white;
            @include button;
            height: 35px;
            width: 145px;
        }
    }
}
#about-section{

    #about-text-button{
        text-align: center;
        font-family: $secondary-font;
        background: #F8F8F8;

        .title{
            font-size: 30px;
            padding-top: 80px;
            padding-bottom: 30px;
        }
        .text{
            font-size: 13px;
            padding-bottom: 30px;
        }
        .about-us-button-2{
            background : $green;
            text-transform : capitalize;
            color : white;
            border : $green;
            @include button;
            margin-bottom: 120px;
        }
    }
    #sponsor{
        padding: 50px 0px;

        img{
            height: 50px;
        }
    }
}

.benefits-section{
    #benefits-title-text{
        span{
            font-family: 'Lato', sans-serif;
            text-transform: capitalize;
            font-size: 50px;
            margin-bottom: 20px;
        }

        display : flex;  
        text-align: center;
        justify-content : center;
        flex-direction : column;
        position: absolute;
        z-index: 2;
        padding-top: 200px;
        font-family: $secondary-font;
        color: white;
    }
    #benefits-background{
        height : 70vh;
        @include no-padding;
    }
    .benefits-grey-background{
        background: #F8F8F8;

        #banner1{
            padding-right: 7px;
            padding-left: 7px;
            padding-top: 100px;

            .text1{
                .fa{
                    padding-top: 75px;
                    font-size: 50px;
                    padding-bottom: 25px;
                }
                span{
                    text-transform: capitalize;
                    display: block;
                    padding-bottom: 15px;
                    font-weight: 600;
                }
        
                background-color: white;
                text-align: center;
                padding-bottom: 75px;
                padding-left: 40px;
                padding-right: 40px;
            }
        }
        #banner2{
            padding-left: 7px;
            padding-right: 7px;
            padding-top: 100px;

            .text2{
                .fa{
                    padding-top: 75px;
                    font-size: 50px;
                    padding-bottom: 25px;
                }
                span{
                    text-transform: capitalize;
                    display: block;
                    padding-bottom: 15px;
                    font-weight: 600;
                }
        
                background-color: $blue;
                text-align: center;
                color:white;
                padding-bottom: 75px;
                padding-left: 40px;
                padding-right: 40px;
            }
        }
        #banner3{
            padding-left: 7px;
            padding-right: 7px;
            padding-top: 100px;

            .text3{
                .fa{
                    padding-top: 75px;
                    font-size: 50px;
                    padding-bottom: 25px;
                }
                span{
                    text-transform: capitalize;
                    display: block;
                    padding-bottom: 15px;
                    font-weight: 600;
                }
        
                background-color: #24282B;
                color:white;
                text-align: center;
                padding-bottom: 75px;
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }
}

#ranking-section{
    background: #F8F8F8;

    .title-subtitle{
        span{
            font-family: 'Lato', sans-serif;
            display: block;
            text-transform: capitalize;
            padding-top: 100px;
            font-size: 35px;
            padding-bottom: 15px;
            font-weight: 400;
        }
        font-family: $secondary-font;
        text-align: center;
        font-size: 11px;
        padding-bottom: 45px;
    }
    span{
        font-weight: 700;
        font-size: 35px;
        text-align: center;
    }
    .title{
        font-size: 11px;
        padding-bottom: 100px;
        text-align: center;
    }
}

#colaborate-section {
    #colaborate-background{
        @include no-padding;
        height: 100vh;
        padding-top: 250px;
        padding-left: 100px;
    }
    #colaborate{
        @include no-padding;

        span{
            font-family: 'Lato', sans-serif;
            display: block;
            text-align: center;
            text-transform: capitalize;
            font-size: 35px;
            padding-top: 300px;
            padding-bottom: 25px;
        }
        .description{
            font-family: $secondary-font;
            text-align: center;
            padding-left: 10px;
            font-size: 13px;
            padding-right: 10px;
            margin-bottom: 150px;
        }
        .statistics{
            #profit {
                .progressbar-text{
                    color: black !important;
                }
            }

            #profit > svg {
                height: 100%;
                display: block;
            }
            #contracts {
                .progressbar-text{
                    color: black !important;
                }
            }

            #contracts > svg {
                height: 100%;
                display: block;
            }
            #management {
                .progressbar-text{
                    color: black !important;
                }
            }

            #management > svg {
                height: 100%;
                display: block;
            }
            .text{
                font-size: 13px;
                text-align: center;
                font-weight: 600;
                padding-top: 15px;
            }
        }
        .more-about-us-button{
            background : $blue;
            border : $blue;
            text-transform : capitalize;
            margin: 70px 325px;
            color : white;
            @include button;
        }
    }
}
#services-section{
    #services-background {
        @include no-padding;
    }

    #services-text-button{
        @include no-padding;
        background: #24282B;
        color: white;
        
        .title{
            font-family: $secondary-font;
            text-align: center;
            padding-left: 35px;
            padding-right: 35px;
            padding-bottom: 50px;

            span{
                font-family: 'Lato', sans-serif;
                display: block;
                text-align: center;
                font-size: 35px;
                padding-top: 150px;
                padding-bottom: 20px;
            }
        }
        .subtitle{
            padding-left: 50px;
            padding-right: 10px;
            padding-bottom: 35px;
            display: flex;

            .icons{
                font-size: 40px;
                margin-right: 30px;
            }
            span{
                font-weight: 600;
                display: block;
                padding-bottom: 10px;
            }
        }
        .services-button{
            background : $green;
            border : $green !important;
            text-transform : capitalize;
            color : white;
            margin-left: 120px;
            @include button;
        }
    
    }
}
#staff-section{
    .title{
        font-family: 'Lato', sans-serif;
        font-size: 40px;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .staff-members{
        text-align: center;

        .description{
            span{
                display: block;
                font-weight: 600;
                font-size: 15px;
                padding-bottom: 5px;
            }
            font-size: 13px;
            font-family: $secondary-font;
            text-align: center;
            padding-bottom: 100px;
        }
    }
}
#reviews-section{
    background: #F8F8F8;
    .title-subtitle{
        padding-top: 150px;
        text-align: center;
        padding-bottom: 10px;
        background: #F8F8F8;
        font-family: $secondary-font;
        span{
            font-family: 'Lato', sans-serif;
            font-size: 40px;
            display: block;
            text-align: center;
            padding-bottom: 20px;
        }
    }
    .photos:hover{
        opacity: 1;
        filter: blur(0px);
        .text{
            background: white;
            box-shadow: 0px 8px 6px -6px black;
            border-radius: 10px;
        }
    }
    .photos{
        padding-top: 100px;
        background: #F8F8F8;
        opacity: 0.5;
        filter: blur(3px);
        .text{
            text-align: center;
            font-family: $secondary-font;
            padding: 20px 30px;
        }
        .name-function{
            text-align: center;
            font-size: 13px;
            font-family: $secondary-font;
            margin-left: 50px;
            span{
                display: block;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 15px;
                font-weight: 600;
            }
        }
        .image{
            padding-left: 80px;
            padding-right: 80px;
            padding-top: 80px;
        }
    }
}
#request-section{
    button{
        background : transparent;
        border : white;
        text-transform : uppercase;
        color : black;
        @include button;
    }
}
#footer-section{
    button{
        background : $green;
        border : $green;
        text-transform : uppercase;
        color : white;
        @include button;
    }
    .external-social-media-button{
        display: flex;
        justify-content: flex-end;
        margin-right : 10px;
        float : left;
    }
}
