$blue : #1996CE;
$green : #71B347;
$primary-font : 'Montserrat', sans-serif;
$secondary-font : 'Lora', serif;;
@mixin button{
    font-family : $primary-font;
    font-weight : 600;
    border : solid 1px;
    height : 40px;
    width : 160px;
    font-size : 13px;
}
@mixin no-padding{
    padding-left : 0;
    padding-right : 0;
}
body {
    margin : 0;
    padding : 0;
}
#hero-section {

    header{
        position : absolute;
        z-index : 2;

        nav{
            ul{
                li{
                    float : left;
                    list-style : none;
                    margin-right: 10px;
                    color : white;
                }
            }
        }
        .social-media{
            display: flex;
            justify-content: flex-end;
            color : white;

            #search-button{
                margin-right: 30px;
            }
            &-button{
                float : left;
                margin-right : 13px;
                margin-top: 28px;
            }
            button{
                background : transparent;
                text-transform : uppercase;
                border : white !important;
                color : white;
                margin-left: 35px;
                margin-top: 20px;
                @include button;

                .fa-paper-plane-o{
                    margin-left : 5px;
                }
            }
        }
    }
    .title-and-buttons{
        display : flex;  
        text-align: center;
        justify-content : center;
        flex-direction : column;

        .buttons{
            margin : 0 auto;
            margin-top : 20px;
        }
        .first-title{
            font-size : 13px;
            color : white;
            text-transform : uppercase;
            font-family : $primary-font;
        }
        .second-title{
            font-size : 60px;
            color : white;
            text-transform : uppercase;
            font-weight : 600;
            font-family : $primary-font;
        }
        .third-title{
            font-size : 15px;
            color : white;
            font-family : $secondary-font;
        }
        .about-us-button{
            background : $green;
            text-transform : capitalize;
            border-color : transparent !important;
            margin-right : 10px;
            @include button;
        }
        .presentation-button{
            background : $blue;
            border-color : transparent !important;
            text-transform : capitalize;
            color : black;
            @include button;
        }
    }
    .title-and-buttons-2{
        display : flex;  
        text-align: center;
        justify-content : center;
        flex-direction : column;

        .buttons{
            margin : 0 auto;
            margin-top : 20px;
        }
        .first-title{
            font-size : 13px;
            color : white;
            text-transform : uppercase;
            font-family : $primary-font;
        }
        .second-title{
            font-size : 60px;
            color : white;
            text-transform : uppercase;
            font-weight : 600;
            font-family : $primary-font;
        }
        .third-title{
            font-size : 15px;
            color : white;
            font-family : $secondary-font;
        }
        .mission-button{
            background : $blue;
            text-transform : capitalize;
            border-color : transparent !important;
            margin-right : 10px;
            @include button;
        }
        .award-button{
            background : $green;
            border-color : transparent !important;
            text-transform : capitalize;
            color : black;
            @include button;
        }
    }
    .title-and-buttons-3{
        display : flex;  
        text-align: center;
        justify-content : center;
        flex-direction : column;

        .buttons{
            margin : 0 auto;
            margin-top : 20px;
        }
        .first-title{
            font-size : 13px;
            color : white;
            text-transform : uppercase;
            font-family : $primary-font;
        }
        .second-title{
            font-size : 60px;
            color : white;
            text-transform : uppercase;
            font-weight : 600;
            font-family : $primary-font;
        }
        .third-title{
            font-size : 15px;
            color : white;
            font-family : $secondary-font;
        }
        .services-button{
            background : $green;
            text-transform : capitalize;
            border-color : transparent !important;
            margin-right : 10px;
            @include button;
        }
        .contact-button{
            background : $blue;
            border-color : transparent !important;
            text-transform : capitalize;
            color : black;
            @include button;
        }
    }
}
#mission-section{
    display : flex;
    flex-wrap : wrap;

    div{
        @include no-padding;

        .text{
            padding : 20px 10px;

            .numbers{
                font-size : 50px;
                font-weight : 600;
                color : rgba(77,77,77,0.15);
                position : absolute;
                z-index : -1;
                left : 0;
                bottom : 0;
            }
            span{
                font-weight : 600;
                display: block;
                padding-bottom: 10px;
            }
        }
    }
    #firstdiv {
        background: url("../img/our-main-mission.jpg");
        background-position: center;
        background-size: cover;

        button{
            background : transparent;
            text-transform : uppercase;
            border : white;
            @include button;
        }
    }
}
#about-section{

    #about-text-button{
        text-align: center;
        font-family: $secondary-font;
        background: #F8F8F8;

        .title{
            font-size: 30px;
            padding-top: 80px;
            padding-bottom: 30px;
            padding-left: 350px;
            padding-right: 350px;
        }
        .text{
            font-size: 13px;
            padding-bottom: 30px;
            padding-left: 400px;
            padding-right: 400px;
        }
        .about-us-button-2{
            background : $green;
            text-transform : capitalize;
            color : white;
            border : $green;
            @include button;
            margin-bottom: 120px;
        }
    }
    #sponsor{
        img{
            height: 50px;
        }
    }
}
.benefits-section{
    #benefits-title-text{
        span{
            font-family: 'Caveat', cursive;
            font-size: 50px;
            margin-bottom: 20px;
        }

        display : flex;  
        text-align: center;
        justify-content : center;
        flex-direction : column;
        position: absolute;
        z-index: 2;
        padding-top: 200px;
        font-family: $secondary-font;
        color: red;
    }
    #benefits-background{
        height : 70vh;
    }
    .banner{
        
    }
    .text1{
        span{
            text-transform: uppercase;
            display: block;
            padding-bottom: 15px;
            font-weight: 600;
        }

        background-color: white;
        padding: 50px 50px;
    }
    .text2{
        span{
            text-transform: capitalize;
            display: block;
            padding-bottom: 15px;
            font-weight: 600;
        }

        background-color: $blue;
        padding: 50px 50px;
        color:white;
    }
    .text3{
        span{
            text-transform: capitalize;
            display: block;
            padding-bottom: 15px;
        }

        background-color: #24282B;
        color:white;
        padding: 50px 50px;
    }
    .icons{
        padding-left: 75px;
        padding-bottom: 25px;
    }
}

#colaborate-section {
    #colaborate-background{
        height : 100vh;
        @include no-padding;
    }
    #colaborate{
        @include no-padding;

        .more-about-us-button{
            background : $blue;
            border : $blue;
            text-transform : capitalize;
            color : white;
            @include button;
        }
    }
}
#services-section{
    #services-background {
        @include no-padding;
        height : 100vh;
    }

    #services-text-button{
        @include no-padding;
        
        .services-button{
            background : $green;
            border : $green;
            text-transform : capitalize;
            color : white;
            @include button;
        }
    
    }
}
#request-section{
    button{
        background : transparent;
        border : white;
        text-transform : uppercase;
        color : black;
        @include button;
    }
}
#footer-section{
    button{
        background : $green;
        border : $green;
        text-transform : uppercase;
        color : white;
        @include button;
    }
    .external-social-media-button{
        display: flex;
        justify-content: flex-end;
        margin-right : 10px;
        float : left;
    }
}
