#colaborate-section {
    #colaborate-background{
        @include no-padding;
        height: 100%;
        padding-top: 250px;
        padding-left: 100px;
    }
    #colaborate{
        @include no-padding;
        padding: 60px;

        span{
            font-family: 'Lato', sans-serif;
            display: block;
            text-align: center;
            text-transform: capitalize;
            font-size: 35px;
            padding-top: 125px;
            padding-bottom: 25px;
        }
        .description{
            font-family: $secondary-font;
            text-align: center;
            padding-left: 10px;
            font-size: 13px;
            padding-right: 10px;
            margin-bottom: 150px;
        }
        .statistics{
            #profit {
                .progressbar-text{
                    color: black !important;
                }
            }

            #profit > svg {
                height: 100%;
                display: block;
            }
            #contracts {
                .progressbar-text{
                    color: black !important;
                }
            }

            #contracts > svg {
                height: 100%;
                display: block;
            }
            #management {
                .progressbar-text{
                    color: black !important;
                }
            }

            #management > svg {
                height: 100%;
                display: block;
            }
            .text{
                font-size: 13px;
                text-align: center;
                font-weight: 600;
                padding-top: 15px;
            }
        }
        .more-about-us-button{
            background : $blue;
            border : $blue;
            text-transform : capitalize;
            margin: 70px 258px;
            color : white;
            @include button;
        }
    }
}


// Extra small devices
@media (max-width: 575px)  { 
    #colaborate-section{
        #colaborate{
            .more-about-us-button {
                margin: 55px 68px;
            }
            .description{
                margin-bottom: 60px;
            }
            span{
                padding-top: 0px;
            }
        } 
        #colaborate-background{
            display: none;
        }
    } 
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { 
    #colaborate-section{
        #colaborate{
            span{
                padding-top: 40px;
            }
            .more-about-us-button {
                margin: 55px 233px;
            }
            .description{
                margin-bottom: 60px;
            }
            .row{
                padding-left: 85px;
                padding-right: 85px;
            }
        } 
        #colaborate-background{
            display: none;
        }
    } 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
   #colaborate-section{
       #colaborate-background{
           padding-left: 0px;
           padding-top: 115px;
           height: auto;
       }
       #colaborate{
           padding-right: 15px;
           padding-left: 15px;
           span{
               padding-top: 50px;
           }
           .description{
               margin-bottom: 70px;
           }
           .more-about-us-button{
               margin: 30px 110px;
           }
       }
   }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { 
    #colaborate-section{
        #colaborate-background{
            padding-left: 0px;
            padding-top: 163px;
        }
        #colaborate{
            padding-right: 10px;
            padding-left: 10px;
            span{
                padding-top: 150px;
            }
            .description{
                margin-bottom: 70px;
            }
            .more-about-us-button{
                margin: 70px 170px;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1366px) { 
    #colaborate-section{
        #colaborate-background{
            padding-left: 100px;
            padding-top: 222px;
        }
        #colaborate{
            span{
                padding-top: 175px;
            }
            .description{
                margin-bottom: 100px;
            }
            .more-about-us-button{
                margin: 70px 205px;
            }
        }
    }
}